extends ../layout

block content
    h3.
        Muokkaa tapahtumaa
    form(name="editEvent", action="/saveEvent/"+event.id, method="post", class="pure-form")
        div.input
            spin.label Nimi
            div.textbox
                input(type="text", name="eventName", value=event.nimi, maxLength=50, required)
        div.input
            spin.label Alkuaika
            div.textbox
                input(type="datetime-local", name="startTime", value=startTime, required)
        div.input
            spin.label Loppuaika
            div.textbox
                input(type="datetime-local", name="endTime", value=endTime, required)
        div.input
            spin.label Osoite
            div.textbox
                input(type="text", name="address", value=event.osoite.postiosoite, maxLength=100, required)
        div.input
                spin.label Postinumero
                div.textbox
                    input(type="text", name="postalCode", value=event.osoite.postinumero.postinumero, maxLength=5, required, pattern="[0-9]{5}", title="Syötä viisinumeroinen postinumero")
        div.input
            spin.label Postitoimipaikka
            div.textbox
                input(type="text", name="postalArea", value=event.osoite.postinumero.postitoimipaikka, maxLength=30, required)
        div.input
            spin.label Kategoria
            div.dropdown
                select(name="category", required)
                    option(value='')
                    each cat in categories
                        option(selected=cat.id == event.kategoria.id, value=cat.id) #{cat.nimi}
        div.input
            spin.label ALV-%
            div.textbox
                input(type="text", name="alv", value=event.alv, maxLength=3, required, pattern="[0-9]{1,2}", title="Syötä alv prosenttilukuna 0-99")
        div.input
            spin.label Vastuuhenkilö
            div.textbox
                input(type="text", name="vhlo", value=username, disabled)
        div.actions
            input(type="submit", value="Tallenna muutokset", class="pure-button")