extends ../layout

block content
    h1.
         #{title}
    table(class="pure-table")
        thead
            tr
                th
                    span.
                        Tapahtuma
                th
                    span.
                        Alkuaika
                th
                    span.
                        Loppuaika
                th
                    span.
                        Kategoria
                th
                    span.
                        Vastuuhenkilö
                th
                    span.
                        Osoite
                th
                    span.
                        Postinumero
                th
                    span.
                        Alv
        tbody 
            each event in events
                tr
                    td
                        span.
                            #{event.nimi}
                    td
                        span.
                            #{event.alkuaika}
                    td
                        span.
                            #{event.loppuaika}
                    td
                        span.
                            #{event.kategoria.nimi}
                    td
                        span.
                            #{event.vastuuhenkilo}
                    td
                        span.
                            #{event.osoite.postiosoite}
                    td
                        span.
                            #{event.osoite.postinumero}
                    td
                        span
                            #{event.alv}



