extends ../layout

block content
    h1.
         #{title}
    table(class="pure-table")
        thead
            tr
                th
                    span.
                        Tapahtuma
                th
                    span.
                        Alkuaika
                th
                    span.
                        Loppuaika
                th
                    span.
                        Kategoriaid
                th
                    span.
                        Vastuuhenkilö
                th
                    span.
                        Osoiteid
        tbody 
            each event in events
                tr
                    td
                        span.
                            #{event.nimi}
                    td
                        span.
                            #{event.alkuaika}
                    td
                        span.
                            #{event.loppuaika}
                    td
                        span.
                            #{event.kategoria}
                    td
                        span.
                            #{event.vastuuhenkilo}
                    td
                        span.
                            #{event.osoiteid}



